<!DOCTYPE html>
<html>

<head>
  <title>FOODBOOK</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/fontawesome.solid.min.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/jquery.min.js"></script>
</head>

<body>
  {{> header}}
  <main class="main">
    <div class="container">
      {{{body}}}
    </div>
  </main>
  {{> footer}}
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/common.js"></script>
</body>

</html>