<div class="row">
    <div class="col-md-5 offset-md-4">
        <h1>Sign In</h1>
        {{#if hasErrors}}
        {{#each messages}}
        <div class="alert alert-danger" role="alert">
            {{this}}
        </div>
        {{/each}}
        {{/if}}
        <form action="/user/signin" method="post">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="E-Mail ID">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control"
                    placeholder="Password(Min 4 chars)">
            </div>

            <div class="form-group text-center">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <input type="submit" value="Sign In" class="btn btn-primary">
        </form>
        <hr>
        <p class="text-center">
            <a href="/user/signup">Sign Up if no account.</a>
        </p>
    </div>
</div>